body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.html loading */
#root:not(:empty) ~ #loadWrap{
  display: none;
}

#loadWrap img{
  @media screen and (max-width: 768px){
    width: 138px;
    height: 128px;
    top: -142px;
  }
}

#load{
  @media screen and (max-width: 768px){
    height: 8px;
    margin-top: 0;	
  }
}

.loadTxt{
  @media screen and (max-width: 768px){
    font-size: 0.875rem;
  }
}