body {
    --mainHeightDefault: 371px;
    --mainHeightWide: 802px;
    --mainHeightNews: 660px;

    &[data-theme="light"]{
        --bgColor: #fff;
        --subBgColor: #f2f2f2;
        --headerBg: #fff;
        --utilTooltipBg: #fff;
        --utilTooltipText: #000;
        --settingBg: #fff;
        --settingStorke: #ddd;
        --settingTitle: #000;
        --settingButtonBg: #fff;
        --settingButtonText: #333;
        --settingButtonStroke: #333;
        --settingButtonActiveBg: #333;
        --settingButtonActiveText: #fff;
        --settingButtonActiveStroke: #333;
        --title: #000;
        --text: #333;
        --videoDesc: #626262;
        --footerBg: #FAFAFA;
        --footerText: #666;
        --bulletBg: #333;
        --infoStroke: #ddd;
        --dimmed: rgba(0, 0, 0, 0.3);
        --scrollbar: #A6A6A6;
        --scrollbarTrack: transparent;
        --mobileSelectBg: #fff;
        --mobileSelectStroke: #ddd;
        --mobileSelectText: #000;
        --commonButtonBg: #333;
        --commonButtonText: #fff;
        --commonSvgFill: #000;
        --activeColor: #309ED5;
        --disabledColor: rgba(0, 0, 0, 0.6);
        --skeletonBackground: #f5f5f5;

        .error{
            &Title{
                color: #333;
            }

            &Desc{
                color: #666;
            }
        }

        .loadTxt{
            color: #333;
        }
    }

    &[data-theme="dark"]{
        --bgColor: #121212;
        --subBgColor: #121212;
        --headerBg: #292A2D;
        --utilTooltipBg: #353637;
        --utilTooltipText: #F8F8FA;
        --settingBg: #2B2C2D;
        --settingStorke: #383C3C;
        --settingTitle: #F8F8FA;
        --settingButtonBg: #3C3E3E;
        --settingButtonText: #F8F8FA;
        --settingButtonStroke: #3C3E3E;
        --settingButtonActiveBg: #fff;
        --settingButtonActiveText: #000;
        --settingButtonActiveStroke: #fff;
        --title: #F8F8FA;
        --text: #ECECEC;
        --videoDesc: #BBBBBF;
        --footerBg: #292A2D;
        --footerText: #ececec;
        --bulletBg: #F8F8FA;
        --infoStroke: #3C3E3E;
        --dimmed: rgba(0, 0, 0, 0.3);
        --scrollbar: #aaa;
        --scrollbarTrack: #121212;
        --mobileSelectBg: #1E1E1E;
        --mobileSelectStroke: #2A2A2A;
        --mobileSelectText: #ececec;
        --commonButtonBg: #333;
        --commonButtonText: #fff;
        --commonSvgFill: #fff;
        --activeColor: #0094ff;
        --disabledColor: rgba(255,255,255,.55);
        --skeletonBackground: #1e1e1e;

        .error{
            &Title{
                color: #fff;
            }

            &Desc{
                color: #ececec;
            }
        }

        .loadTxt{
            color: #ececec;
        }
    }
}