body {
    --mainHeightDefault: 371px;
    --mainHeightWide: 802px;
    --mainHeightNews: 660px;
    --dimmed: rgba(0, 0, 0, 0.3);
    --live: #eb0400;

    &[data-theme="light"]{
        --main-background: #f2f2f2;
        --sub-background: #f2f2f2;
        --background1: #fff;
        --background2: #fff;
        --background3: #000;
        --background4: #ececec;
        --background5: #f9f9f9;
        --scrollbar-background: #A6A6A6;
        --active-background: #000;
        --stroke1: #ddd;
        --stroke2: #c1c1c1;
        --description: #626262;
        --active: #309ED5;
        --skeleton: #f5f5f5;
        --disabled: rgba(0, 0, 0, 0.6);
        --title: #000;
        --text1: #333;
        --text2: #333;
        --text3: #fff;
        --red: #ff0000;
    }

    &[data-theme="dark"]{
        --main-background: #121212;
        --sub-background: #121212;
        --background1: #292A2D;
        --background2: #1e1e1e;
        --background3: #fff;
        --background4: #1e1e1e;
        --background5: #1e1e1e;
        --scrollbar-background: #aaa;
        --active-background: #fff;
        --stroke1: #2A2A2A;
        --stroke2: rgba(255,255,255,.2);
        --description: #BBBBBF;
        --active: #0094ff;
        --skeleton: #1e1e1e;
        --disabled: rgba(255,255,255,.55);
        --title: #F8F8FA;
        --text1: #ECECEC;
        --text2: #fff;
        --text3: #000;
        --red: #ff4353;
    }
}